<div class="grid-container">
  <div class="grid-item">
    <mat-card class="example-card">
      <div class="head">
        <mat-card-header>
          <div class="title">
            <mat-card-title>Primary Card</mat-card-title>
          </div>
          <div class="icon">
            <mat-icon>more_vert</mat-icon>
          </div>
        </mat-card-header>
      </div>
      <img mat-card-image src="../assets/anime3.jpg" alt="Workspace" />
      <mat-card-content>
        <p class="p">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Curabitur non dignissim augue.
          lobortis viverra justo, at interdum turpis pellentesque vel.
          Pellentesque rhoncus nulla id feugiat laoreet. Phasellus cursus leo non
          ultricies ullamcorper. Duis blandit erat turpis, ut faucibus ipsum sagittis suscipit.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="demo-section">
          <button mat-raised-button color="primary" matBadge="10" matBadgePosition="before" matBadgeColor="accent">
            Likes
          </button>
        </div>
        <div class="fav">
          <mat-icon>favorite</mat-icon>
        </div>
        <div class="share">
          <mat-icon>share</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card class="example-card1">
      <div class="head1">
        <mat-card-header>
          <div class="title1">
            <mat-card-title>Accent Card</mat-card-title>
          </div>
          <div class="icon1">
            <mat-icon>more_vert</mat-icon>
          </div>
        </mat-card-header>
      </div>
      <img mat-card-image src="../assets/anime.jpg" alt="Workspace" />
      <mat-card-content>
        <p class="p">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Curabitur non dignissim augue.
          Suspendisse lobortis viverra justo, at interdum turpis pellentesque vel.
          Pellentesque rhoncus nulla id feugiat laoreet. Phasellus cursus leo non ultricies ullamcorper.
          blandit erat turpis, ut faucibus ipsum sagittis suscipit.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="fav1">
          <mat-icon>favorite</mat-icon>
        </div>
        <div class="share1">
          <mat-icon>share</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card class="example-card2">
      <div class="head2">
        <mat-card-header>
          <div class="title2">
            <mat-card-title>Warn Card</mat-card-title>
          </div>
          <div class="icon2">
            <mat-icon>more_vert</mat-icon>
          </div>
        </mat-card-header>
      </div>
      <img mat-card-image src="../assets/anime3.jpg" alt="Workspace" />
      <mat-card-content>
        <p class="p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur non dignissim augue. Suspendisse lobortis viverra justo,
          at interdum turpis pellentesque vel. Pellentesque rhoncus nulla id feugiat laoreet.
          Phasellus cursus leo non ultricies ullamcorper. Duis blandit erat turpis, ut faucibus
          ipsum sagittis suscipit.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="fav1">
          <mat-icon>favorite</mat-icon>
        </div>
        <div class="share1">
          <mat-icon>share</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
